.admin-product-form{
    width: 20%;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.admin-product-form input{
   
    height:30px;
}
.admin-product-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}