body{
    
    margin: 0;
    padding: 0;
    background-color:orange;
    color: rgb(20, 22, 22);
}
.form-div{

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url("../images/delivery.jpg");
    background-size: cover;*/
}
form{
    padding: 20px;
    display: inline-block;
    border: 1px solid rgb(15, 15, 15);
    border-radius: 20px;
    background-color:white;
}
#ent-email{
    margin:40px 5px;
    height:25px;
    border: 1px solid rgb(141, 138, 138);
    border-radius: 5px;
   
    padding: 2px 5px;
}

#ent-email:focus{
    border: 2px solid rgb(22, 21, 21);
}

label{
    margin-right:20px;
}
.back-btn{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color:rgb(221, 210, 210);
  border: none;
}
.reset-div{
    display: flex;
    justify-content:center;
}
.reset-btn{
    font-size: 17px;
    width:70%;
    margin-top:50px;
    padding:10px 5px;
    border: none;
    color: rgb(17, 16, 16);
    background-color:blue;
    border-radius:10px;
}
.entry-paragraph{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{   
    margin: 0;
    width:70%;
    text-align: center;
    font-weight:bold;
}

