body{
    
    margin: 0;
    padding: 0;
    background-color:orange;
    color: rgb(20, 22, 22);
}
.form-div{

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url("../images/delivery.jpg");
    background-size: cover;*/
}
form{
    padding: 20px;
    display: inline-block;
    border: 1px solid rgb(15, 15, 15);
    border-radius: 20px;
    background-color:white;
}

#username,#password,#confirmPassword{
    margin:25px 10px ;
    height: 25px;
}

label{
    margin-right:15px;
}

.back-btn{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color:rgb(221, 210, 210);
  border: none;
}
.continue-div{
    display: flex;
    justify-content:center;
}
.continue-btn{
    font-size: 17px;
    width:70%;
    margin-top:50px;
    padding:10px 5px;
    border: none;
    color: rgb(17, 16, 16);
    background-color:yellow;
    border-radius:10px;
}



